.conjunt {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
  padding: 35px;
  text-align: center;
  margin-left: 10px;
}

.titlefirst {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  font-weight: 500;
}